
<!-- all pages should render nav and header -->
<%= render 'shared/nav' %>
<%= render 'shared/header' %>
<%= javascript_include_tag "google_maps_api" %>


<div class="content-pages">

    <div id="tabs-container">
      <ul class="tabs-menu">
      </ul>
      <div class="tab">

      </div>
    </div>

  </div> <!-- /.container -->


</div> <!-- /.content-pages -->