<!-- all pages should render nav and header -->
<%= render 'shared/nav' %>
<%= render 'shared/header' %>


<div class="content-pages">

  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <p>
          <%= link_to('Edit Trip', trip_plans_guest_edit_path, html_options = {class: 'btn btn-default'}) %>
        </p>
      </div>
    </div>

    <div id="tabs-container">
      <ul class="tabs-menu">
      </ul>
      <div class="tab">

      </div>
    </div>

  </div>
  <!-- /.container -->


</div> <!-- /.content-pages -->