<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<p>Hi <%= @driver.name %>,</p>

<p>You are receiving this email because you are signed up as a driver to go on the upcoming trip
  to <%= @trip.destination_address %>.</p>

<p>Sincerely, <br><br> The RideOrganizer Team</p>
</body>
</html>