<%= render 'shared/nav' %>


<div class="content-pages">

  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading about-heading">A Better Way to Carpool</h2>

          <p class="lead description-paragraph">
            When friends, sports teams, or school clubs are planning an out-of-town (or even in-town) trip, organizing
            transportation can be very difficult, especially when it comes to carpooling. RideOrganizer is here to
            change that.
          </p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag 'about/sample-trip-map-cropped.png', :alt => 'Sample trip map', :class => 'about-image img-responsive' %>
        </div>
      </div>
    </div>
  </div>


  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading about-heading">Organize Drivers and Passengers</h2>

          <p class="lead description-paragraph">
            You just need is a list of drivers and a list of passengers. RideOrganizer will sort the passengers into the
            driver's cars. All with the click of a button.
          </p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <%= image_tag 'about/driver-list.png', :alt => 'List of drivers and passengers', :class => 'about-image img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading about-heading">Optimize Pickup Routes</h2>

          <p class="lead description-paragraph">
            RideOrganizer will also optimize the pickup for the drivers so that they can pick up the passengers
            in the most efficient way.
          </p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag 'about/directions-example.png', :alt => 'directions', :class => 'about-image img-responsive' %>
        </div>
      </div>
    </div>
  </div>

</div>

