<%= render 'shared/nav' %>


<div class="content-pages">


  <!-- Page Content -->
  <div class="content-section-a">

    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <h2 class="section-heading">Make your carpool better!</h2>

          <p class="lead">
            When friends, sports teams, or school clubs are planning an out-of-town (or even in-town) trip, organizing
            transportation can be very difficult, especially when it comes to carpooling. RideOrganizer is hoping to
            change that.
          </p>

          <p>
            In an instance where
            carpooling is decided as the transport of choice, individuals who volunteer to drive should pick up
            passengers in the most
            time and distance efficient way prior to heading to their final destination. Also, the fewest number of
            vehicles
            possible to accommodate all travellers should be used. However, this is not always the case; often two
            drivers end up picking up different passengers who live very near to one another or the number of vehicles
            used is not
            minimized. Situations where a passenger would like to ride with another passenger or driver (or conversely
            the case where two individuals do not want to be in the same vehicle) must also be considered. Additionally,
            drivers may have preferences that must be taken into account such as a maximum distance they are willing to
            drive to
            pick up a passenger. RideOrganizer aims to solve all of these problems.
          </p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag "about/cars-driving.jpg", :alt => 'cars driving on freeway', :class => "about-image img-responsive" %>
        </div>
      </div>

    </div>
    <!-- /.container -->

  </div>
  <!-- /.content-section-a -->
</div> <!-- /.content-pages -->

