<%= render 'shared/nav' %>
<%= render 'shared/header' %>

<div class="content-pages">
  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>Help</h2>
          <p>Guide to creating a trip
            <p><b>Step 1: Welcome to Ride Organizer (<i>http://104.236.213.155:3000/trip_plans</i>)</b><pl>

            <p><b>NEXT: STEP 2: CREATINING A TRIP</b></p>
            <p>&nbsp&nbsp&nbsp&nbsp Whether you’re creating a trip for your club or setting up a trip for your school, Ride Organizer makes it easy to co-ordinate and plan trips accordingly.</p>

            <p><b> CLICK ON 'GET STARTED'</b></p>
            <p>&nbsp&nbsp&nbsp&nbsp You will be forwarded to a page where you have three options:</p>
                <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 1: Login (will allow you to access a previously made account and access any existing carpools being planned)</p>
              <ul style="list-style-type:circle">
                <li>Click Login -> Login using 'Email' and 'Password'. If the user does not have an account, they may press on 'Create Account',
                  furthermore, if the user already has an account yet forgets their details, they may click on 'Forget Your Password' and follow the required steps to retrieve their password by email. </li>
                <li>Once the user has logged in, if no trips have yet been created, they would click on 'New Trip', otherwise, they may either click on 'Edit' if they would like to edit their trip, or
                'Delete' if they would like to remove the trip from their account.</li>
                <li>If the user clicks on 'New Trip', they would now have to enter all the trip details. To begin with, the user would have to enter a valid Destination Address and Arrival Time. Now the user has a option of either
                uploading a csv file they have on their computer that has all the details of their drivers and passengers, or they can manually add all the details. If the user would like to add details manually,
                they can click on the 'Empty' sign under Name, Email, Address, Capacity respectively and fill out the information and then click Save. The user would have to do the same for the Passenger section.</li>
                <li>Now once all the data is in, the user would now have to click on Create Trip then Optimize Trip for the system to print out the map and detailed directions. Underneath the map, Total Distance, time, and estimated departure time are also shown.
                  If the user would like to further edit the trip without deleting any of the previous details, just click on 'Edit Trip'. Once the user is done with their account, they may click on 'logout' to logoff their account. Also, right beside the 'Edit Trip' button, there is a
                  'Notify Travellers' button. This option will send out an email to each passenger and driver notifying them about the trip.</li>
              </ul>
                <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 2: Create Account (will store an email and a password, allowing a user to save and retrieve carpools they create)</p>
              <ul style="list-style-type:circle">
                <li>Once you click on 'Create Account', you will be directed to a page where the user would have to input his/her details. Here their details such as Email, Password, and Password Confirmation would need to be put in.
                  Once that is complete, the user would now go through the same process as creating new trip under 'Login' above.</li>
              </ul>
                <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 3: Continue as Guest (allows user to create a carpool without storing any data)</p>
              <ul style="list-style-type:circle">
                <li>Once the user clicks on 'Continue as Guest', the user would have to follow the same steps as 'Login' or 'Create Account' to print out a new trip.</li>
              </ul>
              <p><b>NEXT: STEP 3: MODIFYING A TRIP</b></p>
              <ul style="list-style-type:circle">
                <li>After your trip has been generated you will see a series of tabs, each containing a route and the routes tab consists a map with turn by turn directions.</li>
                <li>Right above the routes on the right hand side, there is a 'Edit Trip' button, which will allow the user to go back and edit trip details.</li>
                <li>There is one route for each driver on your trip (drivers are selected based on optimality from the list of drivers provided)</li>
                <li>Routes can be modified by dragging a segment of the route to the desired location on the map</li>
              </ul>



                <p><b>Edit Account Details/Password:</b></p>
                <p>Once a user is logged on, they may click on 'account' at the top right of the page, the user will be forwarded to a page with all their details. Here the user may update their Email, Password, and if
                  they are unhappy with the service, they may also click on 'Cancel my account'.</p>

                <p><b>Navigation Bar Explained Further</b> </p>
                <p>There are a few options at the top, firstly we have the 'about' option. The about page is where the user can get a description of what Ride Organizer is and what it entails.
                  Furthermore, the trips option is the same as clicking on 'Get Started' on the home page of the website. Here, the user would have the opportunity to login, create an account or continue as guest.
                  Next, the 'login' option, here if the user already has an account, they may go straight to logging into their account and creating or editing their trip.</p>
            </p>
        </div>
      </div>
    </div>
  </div>
</div>

