
<%= render 'shared/nav' %>
<%= render 'shared/header' %>
    <div class="content-pages">
  <div class="container">
    <div id="map-container">
      <div id="map-canvas"></div>
    </div>
  </div> <!-- /.container -->


  </div>

</div> <!-- /.content-pages -->

<%= javascript_include_tag "loadmap" %>
<%= javascript_include_tag "require google_maps_api" %>
