
<!-- all pages should render nav and header -->
<%= render 'shared/nav' %>
<%= render 'shared/header' %>

<div class="content-pages">
  <div class="container">
    <div id="map-container">
      <div id="map-canvas"></div>
    </div>

    <div id="directionsPanel">
      <p>Total Distance: <span id="total"></span></p>
    </div>
  </div> <!-- /.container -->


</div> <!-- /.content-pages -->

