<%= render 'shared/nav' %>


<div class="content-pages">
  <div class="container">
    <h2>To hold output from algorithm</h2>
  </div> <!-- /.container -->

  <div style='width: 800px;'>
    <div id="one_marker" style='width: 800px; height: 400px;'></div>
  </div>

</div> <!-- /.content-pages -->
<!--adsdsa-->