<html>

<%= render 'shared/nav' %>


<div class="content-pages">
  <div class="container">
    <h2>To do on this page:</h2>
    <ul>
      <li>Create import button</li>
      <li>Create model to all users to add traveller information manually</li>
      <li>Based on the list of travellers uploaded allow user to add traveller preferences </li>
    </ul>
    <p class="lead">Note: pagination should also be added so that users do not have to scroll through very long list of travellers</p>
  </div>
  <%=link_to 'Planner Output', pages_planner_output_path %>
</div>
</html>